.cart-btn{
    background-color:#4A00E0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.cart-btn:hover{
    background-color: #8E2DE2;
    color: rgb(255, 255, 255);
}
.card{
    border-radius: 15px ;
    
}
.card-section{
    margin-left: 20px;
}
.chef-image{
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
}
/* .card-container{
    background-color: black;
    border: 1px solid red;
} */
/* .card-container h5{
    text-shadow: 2px 2px 5px red;
} */
.card-container:hover{
    box-shadow: 0 4px 15px 0 #b18affa6 ;
    border: 2px solid #4A00E0 ;
}
